@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(50, 50, 50);
  -max-width: 800px;
  /**/
}

.head {
  background-color: rgb(50, 50, 50);
  color: white;
  display: block;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  border-style:double;
}

h1 {
  font-size: 50px;
  overflow: auto;
}

section {
  border: 0.5px none;
  padding: 5px;
  font-size: 30px;
  align: center;
}

img {
  display: inline-block;
  max-width: 100px;
  max-height: auto;
}


table {
  border: 1px;
  overflow: scroll;
}

th, td {
  border: 1px solid;
  padding: 3px;
}

#home {
  text-align: center;
}


.side {
  display: table;
  margin: 0 auto;
}

/*
.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
*/

.main {
  display: table;
  margin: 0 auto;
}


@media only screen and (max-device-width: 800px) {
  section {
    border: 0.5px none;
    padding: 0px;
    font-size: 60px;
    align: center;
  }

  table {
    overflow: scroll;
    max-width: 800px;

  }

  tr, th {
    font-size: 50px;
  }

  .head {
    background-color: rgb(50, 50, 50);
    color: white;
    display: block;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border-style:double;
  }

  h1 {
    font-size: 90px;
  }

  img {
    display: inline-block;
    max-width: 350px;
    max-height: auto;
  }
}
