@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin-left: 50px;
  max-width: 900px;
}

section {
  border-top: 1px dashed;
  margin-bottom: 5px;
  margin-top: 15px;
}

table {
  border: 1px;
}

th, td {
  border: 1px solid;
  padding: 3px;
}

table {
  border: 1px solid;
}

/*
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
*/
