@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin-left: 50px;
  max-width: 900px;
}

section {
  border: 0.5px dashed;
  padding: 5px;
  font-size: 16px;
}



table {
  border: 1px;
}

th, td {
  border: 1px solid;
  padding: 3px;
}

table {
  border: 1px solid;
}

.side {
  margin: 15px;
  display: block;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
}
/*
*/
